.Header {
    width: 100vw;
}

.LogoContainer {
    font-family: 'Courier New', Courier, monospace;
    padding: 20px 40px;
}

.Logo {
    font-size: 15px;
    letter-spacing: 2px;
    cursor: pointer;
}

.options {
    color: white;
}

.options a {
    color: white;
    text-decoration: none;
}